<input id="email" type="text" name="email">
<button type="button">Send</button>
<div id="response"></div>

<script>
const url = 'http://localhost:3000/user';
// The data we are going to send in our request
let data = {
    email: 'alex2509du14@hotmail.com'
}
// The parameters we are gonna pass to the fetch function
let fetchData = { 
    method: 'POST', 
    body: data
}
fetch(url, fetchData)
.then(function(response) {
    // Handle response you get from the server
	console.log(response);
}).catch(function(err){
	console.log(err);
});
</script>