<form id ="mail_form">
<input id="email" type="email" name="email" required>
<input id="send" type="submit" value="Send">
</form>
<div id="response"></div>

<script>

const sendEmail = (event) => {
  event.preventDefault();
  document.getElementById("mail_form").removeEventListener("submit", sendEmail, false);
  document.getElementById("send").disabled = true;
  document.getElementById('response').innerHTML = "";
  document.getElementById('response').className = "loader";
  const url = 'http://localhost:3000/user';
  // The data we are going to send in our request
  const email = document.getElementById("email").value;

  // The parameters we are gonna pass to the fetch function
  let fetchData = {
      method: 'POST',
      body: 'email='+email,
      headers: {
      "Content-Type": "application/x-www-form-urlencoded"
    },
  }
  fetch(url, fetchData)
  .then(response => {
          return response.json();
      })
  .then(function(response) {
      document.getElementById('response').className = "";
      document.getElementById('response').innerHTML = response.message;
      document.getElementById("mail_form").addEventListener("submit", sendEmail, false);
      document.getElementById("send").disabled = false;
  }).catch(function(err){
    console.log(err);
    document.getElementById('response').className = "";
    document.getElementById("mail_form").addEventListener("submit", sendEmail, false);
    document.getElementById("send").disabled = false;
  });
  return false;
  }

document.getElementById("mail_form").addEventListener("submit", sendEmail, false);

</script>
